@{
	ViewData["Title"] = "Yeni Post Oluştur";
}

@model PostCreateViewModel

<form asp-controller="Post" asp-action="Create" method="post" enctype="multipart/form-data">
	<div>
		<label asp-for="CategoryId" class="form-label">Kategori</label>
		<select class="form-select" asp-items="@ViewBag.selectList" asp-for="CategoryId">
		</select>
	</div>

	<div class="mb-3">
		<label asp-for="Title" class="form-label">Başlık</label>
		<input class="form-control" asp-for="Title">
		<span class="text-danger" asp-validation-for="Title"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Text" class="form-label">İçerik</label>
		<input class="form-control" asp-for="Text">
		<span class="text-danger" asp-validation-for="Text"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Publisher" class="form-label">Yazar</label>
		<input class="form-control" asp-for="Publisher">
		<span class="text-danger" asp-validation-for="Publisher"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Photo" class="form-label">Foto</label>
		<input class="form-control" type="file" asp-for="Photo">
	</div>

	<button type="submit" class="btn btn-primary">Post Oluştur</button>
</form>

@section Scripts
	{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	}



