
@{
    ViewData["Title"] = "PhotoSave";
}

@model PostCreateViewModel

<h1>PhotoSave</h1>

<form asp-controller="Post" asp-action="PhotoSave" method="post" enctype="multipart/form-data">

    <input type="file"  asp-for="Photo"/>

    <input type="submit" value="Kaydet" />
</form>

